<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <style>
      .pie-chart {
        width: 400px;
        height: 400px;
        max-width: 100%;
        max-height: 40%;
        border-radius: 50%;
        background-image: conic-gradient(
          #4caf50 150deg,
          #2196f3 0 260deg,
          #ff9800 0
        );
      }
      .legend {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      .legend div {
        display: flex;
        align-items: center;
      }
      .legend span {
        display: block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
      }
      .legend .green {
        background-color: #4caf50;
      }
      .legend .orange {
        background-color: #ff9800;
      }
      .legend .blue {
        background-color: #2196f3;
      }
    </style>
  </head>

  <body>
    <!-- Page wrapper start -->
    <div class="page-wrapper">
      <!-- Main container start -->
      <div class="main-container">
        <!-- Sidebar wrapper start -->
        <nav id="sidebar" class="sidebar-wrapper">
          <!-- App brand starts -->
          <div
            class="app-brand px-3 py-3 d-flex align-items-center justify-content-center"
          >
            <%- include('includes/logo.ejs',{fs: 4}) %>
          </div>

          <!-- Sidebar profile starts -->
          <%- include('includes/sidebar-user-profile.ejs') %>

          <!-- Sidebar menu starts -->
          <%- include('includes/sidebar-menu.ejs') %>
        </nav>
        <!-- Sidebar wrapper end -->

        <!-- App container starts -->
        <div class="app-container" style="background-color: #10141c">
          <!-- App header starts -->
          <%- include('includes/app-header.ejs') %>
          <!-- App header ends -->

          <!-- App hero header starts -->
          <div class="app-hero-header bg-dark">
            <h5 class="fw-light text-uppercase text-light">Expense summary</h5>
          </div>

          <!-- App body starts -->
          <div class="app-body">
            <!-- Row starts -->
            <%- include('includes/expense-summary.ejs') %>

            <!-- Row starts -->
            <div class="row">
              <div class="col-xxl-12">
                <!-- main -->
                <section class="card shadow mb-4 bg-dark-subtle">
                  <div class="card-header">
                    <h5 class="card-title">Chart</h5>
                  </div>
                  <div class="card-body p-4 mb-4">
                    <div class="legend row px-5">
                      <div class="col-md-4 mb-3 text-uppercase">
                        <span class="green"></span> Total - 50%
                      </div>
                      <div class="col-md-4 mb-3 text-uppercase">
                        <span class="orange"></span> Average - 30%
                      </div>
                      <div class="col-md-4 mb-3 text-uppercase">
                        <span class="blue"></span> Maximum - 20%
                      </div>
                    </div>
                    <div class="pie-chart mx-auto mt-5"></div>
                  </div>
                </section>
              </div>
            </div>
            <!-- Row end -->
          </div>
          <!-- App body ends -->

          <!-- App footer start -->
          <div class="app-footer">
            <span class="text-light"> copyright &copy; 2024</span>
          </div>
          <!-- App footer end -->
        </div>
        <!-- App container ends -->
      </div>
      <!-- Main container end -->
    </div>
    <!-- Page wrapper end -->
    <%- include('includes/end.ejs') %>
  </body>
</html>
