<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <style>
      .pie-chart {
        width: 400px;
        height: 400px;
        max-width: 100%;
        max-height: 40%;
        border-radius: 50%;
        background-image: conic-gradient(
          #4caf50 150deg,
          #2196f3 0 260deg,
          #ff9800 0
        );
      }
      .legend {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      .legend div {
        display: flex;
        align-items: center;
      }
      .legend span {
        display: block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
      }
      .legend .green {
        background-color: #4caf50;
      }
      .legend .orange {
        background-color: #ff9800;
      }
      .legend .blue {
        background-color: #2196f3;
      }
    </style>
  </head>

  <body>
    <!-- Page wrapper start -->
    <div class="page-wrapper">
      <!-- Main container start -->
      <div class="main-container">
        <!-- Sidebar wrapper start -->
        <nav id="sidebar" class="sidebar-wrapper">
          <!-- App brand starts -->
          <div
            class="app-brand px-3 py-3 d-flex align-items-center justify-content-center"
          >
            <%- include('../includes/logo.ejs',{fs: 4}) %>
          </div>

          <!-- Sidebar profile starts -->
          <%- include('../includes/sidebar-user-profile.ejs') %>

          <!-- Sidebar menu starts -->
          <%- include('../includes/sidebar-menu.ejs') %>
        </nav>
        <!-- Sidebar wrapper end -->

        <!-- App container starts -->
        <div class="app-container" style="background-color: #10141c">
          <!-- App header starts -->
          <%- include('../includes/app-header.ejs') %>
          <!-- App header ends -->

          <!-- App hero header starts -->
          <div class="app-hero-header bg-dark">
            <h5 class="fw-light text-uppercase text-light">Expenses</h5>
          </div>

          <!-- App body starts -->
          <div class="app-body">
            <!-- Row starts -->
            <%- include('../includes/expense-summary.ejs') %>

            <div class="row">
              <div class="col-xxl-12 expenses">
                <!-- main -->
                <% if(expenses.length){ let index = 1 %>
                <table
                  class="shadow mb-4 w-100 border border-primary border-2"
                  style="background-color: #10141c"
                >
                  <thead class="">
                    <tr class="row px-4 py-3">
                      <th class="col-1 text-uppercase text-light-emphasis">
                        s/n
                        <!-- <input type="checkbox" name="all" /> -->
                      </th>

                      <th class="col-3 text-uppercase text-light-emphasis">
                        Details
                      </th>
                      <th class="col-2 text-uppercase text-light-emphasis">
                        merchant
                      </th>
                      <th class="col-2 text-uppercase text-light-emphasis">
                        Amount
                      </th>
                      <th class="col-2 text-uppercase text-light-emphasis">
                        Category
                      </th>
                      <th class="col-2 text-uppercase text-light-emphasis">
                        actions
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% for(expense of expenses){ %>
                    <tr class="row py-3 px-4 bg-dark">
                      <td class="col-1 text-light-emphasis">
                        <%= index %>
                        <!-- <input type="checkbox" name="" /> -->
                      </td>
                      <td class="col-3 text-capitalize text-light-emphasis">
                        <small
                          class="d-block text-warning-emphasis"
                          style="font-size: 0.8rem"
                        >
                          <%= new
                          Date(expense.createdAt).toLocaleDateString('en-us') %>
                        </small>
                        <span> <%= expense.title %> </span>
                      </td>
                      <td class="col-2 text-uppercase text-light-emphasis">
                        <%= expense.merchant %>
                      </td>
                      <td class="col-2 text-uppercase text-light-emphasis">
                        <%= nformat(expense.amount) %>
                      </td>
                      <td class="col-2 text-uppercase text-light-emphasis">
                        <%= expense.category %>
                      </td>
                      <td
                        class="col-2 text-uppercase text-light-emphasis d-flex gap-2 align-items-center"
                      >
                        <a
                          href="/expense/details/<%= expense.id %>"
                          class="btn btn-outline-primary px-3 py-1.5"
                        >
                          <i class="bi bi-eye-fill"></i>
                        </a>

                        <form
                          action="/expense/delete-expense"
                          method="POST"
                          class="delete-expense"
                        >
                          <input
                            type="hidden"
                            name="id"
                            value="<%= expense.id %>"
                          />
                          <button
                            class="btn btn-outline-danger px-3"
                            type="submit"
                            name="_delete"
                          >
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </form>
                      </td>
                    </tr>
                    <% index++ } %>
                  </tbody>
                </table>
                <% }else{ %>
                <h2 class="text-warning">No Expenses!</h2>
                <h6 class="text-warning-emphasis">
                  Click on New Expense on sidebar to Add new Expense
                </h6>
                <% } %>
              </div>
            </div>
            <!-- Row end -->
          </div>
          <!-- App body ends -->

          <!-- App footer start -->
          <div class="app-footer">
            <span class="text-light"> copyright &copy; 2024</span>
          </div>
          <!-- App footer end -->
        </div>
        <!-- App container ends -->
      </div>
      <!-- Main container end -->
    </div>
    <!-- Page wrapper end -->
    <%- include('../includes/end.ejs') %>
  </body>
</html>
